.game-header {

  position: fixed; 
  top: 0;
  left: 0;

  width: 100%;
  height: var(--header-height); 
  flex-shrink: 0;
  background: #3b2a20;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 2px solid #7a5237;
}

.header-center {
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none; 
}

/* Название и никнейм */
.user-nickname, .game-title {
  color: #d8c7a7; 
  font-family: Handjet;
  font-size: var(--font-base);
}

.game-title {
  margin: 0;
  color: #d8c7a7;   
  font-size: calc(var(--font-base) * 1.4);
  text-transform: uppercase;
}

body {
  margin: 0;
  padding: 0;
}


#header-menu-btn {
  appearance: none;
  cursor: pointer;


  width: 60px;             
  min-width: 1px;       
  height: 40px;           
  padding: 10px 0;        
  
  font-size: calc(var(--font-base) * 0.9);



  background: #7a5237;
  border: 2px solid #966642;
  color: #d8c7a7; ;
  font-weight: bold;


  transition: background 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

#header-menu-btn:hover {
  background: #b5926d;
  border-color: #481a1a;
  color: #481a1a;
  transform: scale(0.99);
}


.header-right {
  position: relative;
  display: flex;
  align-items: center;
}